body {
  background: black;
}

#gameBoard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 600px;
  background: white;
  font-family: "Poppins", sans-serif;
}
