/* body {
  background: black;
} */

#gameBoard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 600px;
  background: url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "Poppins", sans-serif;
}
