/* body {
  background: black;
} */

#gameBoard {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 1920px;
  height: 969px;

  background: url("/assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
